.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0; */
    transition: all 0.3s ease-in-out;
    color:black;
  }
  
  .modal-content{
      width: 500px;
      background-color: #fff;
      transition: all 0.3s ease-in-out;
      border-radius: 5px;
  }
  
  .modal-body {
      padding: 10px;
      /* color:black; */
      /* border-bottom: 1px solid #eee; */
    }

  .modal-data{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
    .modal-footer {
      padding: 10px;
    }
  
    .modal-button{
        display: flex;
        justify-content: flex-end;
        padding:5px
    }